body{
    margin: 0;
    top: 0;
}
.imgResto{
    background-image: none ;
    position: absolute;
    z-index: -1;
}
a{
    text-decoration: none;
    color: #ffffff;
}
.navBar{
    position: absolute;
    color: rgb(252, 153, 6);
    text-align: center;
    margin-left: 40%;
    margin-top: 50px;
    font-size: 50px;
    font-size: 30px;
}
#titleResto{
    position: absolute ;
    color: rgb(252, 153, 6);
    text-shadow: 2px 2px black;
    margin-top: 250px;
    margin-left: 200px;
    font-size: 100px;
    font-weight: bold;
}
#cuisineTrad{
    position: absolute ;
    color: rgb(252, 153, 6);

    margin-top: 350px;
    margin-left: 200px;
    font-size: 50px;
    font-weight: bold;
}
.containerCarte{
    margin-left: 15%;
}
#plats{
    position: absolute ;
    width: 250px; 
    height: 250px;
    background-color: rgb(252, 153, 6);
    font-size: 24px;
    margin-top: 500px;
    margin-left: 200px;
    text-align: center;
}
#plats h3{
text-decoration: underline;
}
#formules{
    position: absolute ;
    width: 250px; 
    height: 250px;
    background-color: rgb(252, 153, 6);
    font-size: 24px;
    margin-top: 500px;
    margin-left: 500px;
    text-align: center;
}
#formules h3{
    text-decoration: underline;
    }
#desserts{
    position: absolute ;
    width: 250px; 
    height: 250px;
    background-color: rgb(252, 153, 6);
    font-size: 24px;
    margin-top: 500px;
    margin-left: 800px;
    text-align: center;
}
#desserts h3{
    text-decoration: underline;
    }
#formReserv{
    width:500px;
    height:350px;
    position: absolute;
    background-color: #ffffff;
    border-radius:20px;
    margin-top: 25%;
    margin-left: 35%;
    text-align: center;
}